<h2>お気に入り一覧</h2>
<% @favorite.each do |favorite| %>
  <div class="contents">
        <h4>「<%= favorite.title %>」</h4>
      <p><%= favorite.content %></p>
      <p><%= image_tag(favorite.image.url) %></p>
      <p>投稿者：<%= favorite.user.name %></p>
      <p><%= favorite.updated_at %>に投稿</p>
    </div>
  <% end %>
  <%= link_to "Profileページにもどる", user_path(current_user.id) %></li>
