<h1>ようこそInstagramCloneへ！！</h1>
<h3>初めての方はSign upをお願いします。</h3>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="user">
<%= form_with(model: @user, local: true) do |f| %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
  </ul>
  <ul>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
  </ul>
  <ul>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
  </ul>
  <ul>
    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation %></li>
  </ul>
  <ul>
    <li><%= f.label :image %></li>
  <li><%= image_tag(@user.image.url) if @user.image && @user.image.url %></li>
  </ul>
  <li><%= f.file_field :image %></li>
  <li><%= f.hidden_field :image_cache %></li>

  <%= f.submit "Create my account" %>
  <% end %>

  <%= link_to "投稿一覧画面にもどる", pictures_path %>
</div>
