<h1><%= @user.name %>のページ</h1>
<br>
<p class="show_image"><strong>Image:</strong></p>
<p><%= image_tag @user.image.url %></p>
<br>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to "ユーザー情報を編集する", edit_user_path(@user.id) %>
<br>
<%= link_to "投稿一覧画面にもどる", pictures_path(@user.id) %>
